a {
  font-family: sans-serif;
  text-decoration: none; }

.btn1 {
  padding: 10px;
  margin: 20px auto;
  background-color: #dadada;
  width: 12%;
  min-width: 107px;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase; }
  .btn1 a {
    color: #4D5254;
    letter-spacing: 2px; }

#myButton {
  margin: 0 auto;
  background-color: #52616b;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Verdana;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none; }
  #myButton:hover {
    background-color: #858585; }
