a
	font-family: sans-serif
	text-decoration: none

// Адаптивная кнопка, но кликабелен только текст
.btn1
	padding: 10px
	margin: 20px auto
	background-color: #dadada
	width: 12%
	min-width: 107px
	text-align: center
	border-radius: 4px
	text-transform: uppercase
	a
		color: #4D5254
		letter-spacing: 2px //проценты не прокатили

#myButton
	margin: 0 auto
	background-color: rgb(82, 97, 107)
	border-radius: 42px
	display: inline-block
	cursor: pointer
	color: rgb(255, 255, 255)
	font-family: Verdana
	font-size: 20px
	padding: 16px 31px
	text-decoration: none
	&:hover
		background-color: #858585